.friends__item {
  padding: 0 32px;
  margin-bottom: 20px;
}

.friend__photo {
    max-width: 60px;
    margin-right: 30px;
}

.friend__photo img {
    border-radius: 50%;
}

.sidenav .friend__link {
  padding: 0;
  height: auto;
  display: flex;
  align-items: center;
  border-radius: 25px;
}