.menu_item .active {
  background:rgba(50,50,50,0.06);
}

@media (max-width: 992px){
  nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i {
      display: flex;
      align-items: center;
  }
}